/* CSS for header */
header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Apply Apple-like font */
    background-color: #ffffff; /* Màu nền header */
    color: #000000; /* Màu chữ */
    font-weight: bold;
    font-size:large;
    padding: 20px 0; /* Khoảng cách giữa các phần tử */
}

.container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 60px;
    height: 50px; /* Kích thước logo */
}

/* CSS */
ul {
    list-style: none; /* Xóa dấu chấm đằng trước cho tất cả các danh sách */
}

li {
    display: inline-block; /* Để các mục trong menu hiển thị trên cùng một hàng */
}

/* Các đoạn mã khác cho menu, dropdown, và các mục menu */


nav ul {
    display: flex;
    align-items: center; /* Canh giữa các mục trong menu */
}

nav ul li {
    margin-right: 70px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu */
}

nav ul li a:hover {
    color: #ffcc00; /* Màu chữ khi hover */
}

.search-form input[type="text"] {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #000000; /* Màu nền ô tìm kiếm */
    color: #fff;
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.search-form input[type="text"]:focus {
    background-color: #ffffff; /* Màu nền ô tìm kiếm khi focus */
}

.search-form button {
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background-color: #000000; /* Màu nút tìm kiếm */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.search-form button:hover {
    background-color: #ffffff; /* Màu nút tìm kiếm khi hover */
}

.user-auth a {
    color: #000000;
    padding-left: 10px;
    text-decoration: none;
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.user-auth a:hover {
    color: #ffcc00; /* Màu chữ khi hover */
}











/* CSS for footer */
footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Apply Apple-like font */

    background-color: #000000; /* Màu nền footer */
    color: #ffffff; /* Màu chữ */
    font-size: large;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer p {
    margin: 0; /* Xóa margin mặc định */
}

.footer-text {
    float: left;
}

.blog {
    float: right;
    width: calc(100% - 370px); /* Width of the container minus the width of the iframe */
}

/* Optional: Adjust margin between elements */
.margin-r20 {
    margin-right: 50px;
}




















.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slides {
    display: none;
}

.fade {
    animation: fade 1.5s;
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

/* Nút điều hướng */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffcc00;
    font-weight: bold;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Hiệu ứng chuyển slide */
@keyframes fade {
    from { opacity: 0.4 }
    to { opacity: 1 }
}


.news-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.news-item {
    width: calc(33.33% - 10px); /* 33.33% width with spacing */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.news-item img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.news-content {
    padding: 10px;
    background-color: #f9f9f9;
    color: black; /* Màu chữ đen */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Font chữ giống với của Apple */
}
.news-title {
    color: #0b3373;
text-align: center; /* Align the news title to center */
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Apply Apple-like font */
}











/* Thêm các CSS tùy chỉnh của bạn ở đây */
.product {
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product__image {
    width: 100%;
    max-width: 100%;
}

.product__info {
    padding: 20px;
}

.product__name {
    font-size: 18px;
    margin-bottom: 10px;
}

.product__description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.product__price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.product__button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product__button:hover {
    background-color: #4d98c6;
}






/* CSS cho dropdown menu */
.dropdown-menu {
    min-width: 200px; /* Độ rộng tối thiểu của dropdown menu */
}

.dropdown-item {
    padding: 8px 16px; /* Padding cho mỗi mục trong dropdown menu */
    font-size: 16px; /* Kích thước chữ */
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Màu nền khi di chuột vào mục */
    color: #075880; /* Màu chữ khi di chuột vào mục */
}

.dropdown-item:focus,
.dropdown-item.active {
    background-color: #007bff; /* Màu nền khi mục được chọn hoặc được focus */
    color: #fff; /* Màu chữ khi mục được chọn hoặc được focus */
}

/* CSS cho dropdown menu khi ở chế độ responsive */
@media (max-width: 768px) {
    .dropdown-menu {
        position: static; /* Đặt dropdown menu về vị trí static khi ở chế độ responsive */
        width: 100%; /* Độ rộng dropdown menu là 100% của viewport */
    }
}





.iphone-intro {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Apply Apple-like font */
    text-align: center;
    padding: 50px 0;
    background-color: #f2f2f2;
}

.iphone-intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.iphone-intro p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5f8bb9;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b30000;
}









.cart-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Apply Apple-like font */

    text-align: center;
    margin-bottom: 20px;
}
.cart-items {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Apply Apple-like font */

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
.cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.item-image img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}
.item-details {
    margin-left: 45px;
}
.item-name {
    font-size: 18px;
    margin-bottom: 5px;
}
.item-price {

    margin-bottom: 10px;
}
.item-actions {
    margin-bottom: 10px;
padding: 50px;
    display: flex;
    align-items: center;
}
.btn-remove {
    padding: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #dc3545;
    margin-right: 10px;
}
.quantity-input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.cart-total {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Apply Apple-like font */

    text-align: center;
    margin-top: 20px; /* Thay đổi khoảng cách từ phần tử trên xuống */
}

.btn-checkout {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Apply Apple-like font */
    font-weight: bold;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-checkout:hover {
    background-color: #0056b3;
}












/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.dangky {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-signup {
    font-weight: bold;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}

.btn-signup:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #000000;
}
.password-input {
    position: relative;
}

.password-input input {
    padding-right: 30px; /* Khoảng cách cho biểu tượng */
}

.toggle-password {
    position: absolute;
    right: 10px; /* Điều chỉnh vị trí của biểu tượng */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}












.product-detail {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product-detail img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.product-detail h2 {
    margin-bottom: 10px;
}
.product-detail .description {
    margin-bottom: 20px;
}
.product-detail .price {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}
.btn-buy {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-buy:hover {
    background-color: #0056b3;
}